#gridContainer{
    display: grid; 
    grid-template-areas: 
    'name photo'
    'education education'
    'skills skills';
}
#name{
    grid-area: name;
    height: 120px;
    width: 600px;
    padding: 20px;
    margin: 20px;
    background-color: white;
}
h4{
    color: maroon;
    text-decoration: underline;
    font-size: 17px;
}

#photo{
    grid-area: photo;
    height: 300px;
    width: 300px;
    padding:1px;
    margin: 16px;
    background-color:transparent;
    border: 2px solid;
}

#photo > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

#education {
    grid-area: education;
    height:100px;
    width: 600px;
    padding: 20px;
    margin: 20px;
    background-color: linen;
}
#skills{
    grid-area: skills;
    height:167px;
    width: 600px;
    padding: 20px;
    margin: 20px;
    background-color: linen;
}

div{
    border: 2px solid black;
}

div div{ /*a combination selector, that selects the divs that are the childs of a div*/
    height: 100px;
    width: 200px;
    padding: 20px;
    margin: 20px;
    background-color: white;
}