{% extends "forms.html" %}
{% set currentPage = 2 %}
{% block title %}
C.V.
{% endblock %}
{% block header %}
C.V Information
{% endblock %}
{% block main_context %}
<div id="">
    <!--תוכן של האלמנט-->
    {{user.firstName | capitalize}} {{user.lastName | capitalize}} you a Master!!!
</div>
<div id="gridContainer">
    <div id="name">
        <h7>{{user.firstName | capitalize}} {{user.lastName | capitalize}}</h7>
        <br>
        <br>
    </div>

    <div id="photo"><img src="{{url_for('static', filename='img/profilePic.jpg')}}"></div>

    <div id="education"><h4>Education:</h4>
        <h5>Student of Information Systems Management , Third Year</h5><h5>Ben Gurioun University Of The Negev</h5>
    </div>
    <div id="skills">
        <p1><h4>Skills:</h4></p1>
        Java&nbsp&nbsp&nbsp SQL&nbsp&nbsp&nbsp Python&nbsp&nbsp&nbsp C#&nbsp&nbsp&nbsp HTML&nbsp&nbsp&nbsp CSS
    </div>
</div>

<p>To contact us click <a href="{{url_for('contact')}}">Here</a></p>
{% endblock %}
{% block footer %}
{{super()}}
<br>
<h9><span>&#128231</span>: {{user.email | lower}}</h9>&nbsp&nbsp&nbsp
<h9><span>&#128241</span>: +972547279363</h9>
<br>
{% endblock %}