<!DOCTYPE html>
<!-- currentPage: 0 - none. 1 - search. 2 - register !-->

<!-- common variables -->
{% set pages = [
{'id': 1, 'name': "home", 'title': "Search"},
{'id': 2, 'name': "registration", 'title': "Register"}
]
%}
<html lang="en">
<head>
    <title>Register Form</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}"> <!--לינק לעמוד CSS-->
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
{% include 'common_header.html' %}
{% block logout %}
{% endblock %}
<h1>{% block header %}
    {% endblock %}
</h1>
{% block main_context %}
{% endblock %}
</body>
</html>